
@{
    ViewBag.Title = "FullTextSearch";
    Layout = "~/Views/Shared/_LayoutClient12.cshtml";
}

<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <img class="img-fluid" src="/Content/Images/underConstruction.png" />
            </div>
        </div>

    </div>
</section>

