@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav pull-right top-menu">
            <li><a class="logout" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
    }
}
