<appSettings>
  <add key="SupportEmailAddr" value="support@mysite.com" />
  <add key="smtpServer" value="localhost" />
  <add key="smtpPort" value="25" />
  <add key="smtpEnableSsl" value="false"/>
  <add key="smtpUsername" value=""/>
  <add key="smtpPassword" value=""/>
  <add key="webpages:Version" value="1.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Google reCapache Settings -->
  <add key="recaptchaPublickey" value="6Lfuz20UAAAAAFkUbI9RSMd9unIa2AflH4t8jeAM"/>
  <add key="recaptchaPrivatekey" value="6Lfuz20UAAAAAJlXRwFnnzbMGUROB2dDZCXUqZtn"/>
  <add key="websiteAddress" value="http://www.gudangstudent.my"/>
  <add key="emailServicesEmailAddress" value="adsmng@gudangstudent.my"/>
  <add key="emailServicesEmailAddressFrom" value="GudangStudent Ads Manager"/>
  <!-- Site General Information -->
  <add key="SiteName" value="Gudang Student" />
  <add key="SiteAddress" value="http://www.gudangstudent.my" />
</appSettings>

<!--
 
 email address : adsmng@gudangstudent.my
 password : 8kfW6h!7

-->