<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ClassifiedDatabase.mdf;Initial Catalog=ClassifiedDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--
  <add name="DefaultConnection" connectionString="Server=gudangstudent.my;Database=gudangst_;User Id=gudangStDbUser;Password=gudang@Student@Pass!2018;" providerName="System.Data.SqlClient" />
  -->
</connectionStrings>